<div class="columns">
  <div class="column" style="padding: 0px;"></div>
  <div class="column">

    <div class="card">

      <header class="card-header">
        <h1 class="card-header-title" style="text-align: center">
          Sign In
        </h1>
      </header>

      <div class="card-content">
        <div class="content">
          <%= form_with url: sign_in_path, local: true do |f| %>
            <div class="field">
              <%= f.label 'email:', class: 'label' %>
              <div class="control">
                <%= f.text_field :email, id: 'email', class: 'input' %>
              </div>
            </div>
            <div class="field">
              <%= f.label 'password:', class: 'label' %>
              <div class="control">
                <%= f.password_field :password, id: 'password', class: 'input' %>
              </div>
            </div>
            <br/>
            <div class="actions">
              <%= f.submit 'Login', class: "button is-success", style: 'width: 100%' %>
            </div>
          <% end %>

        </div>
      </div>
    </div>

  </div>
  <div class="column"></div>
</div>
