<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @participant.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @participant.email %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @participant.phone_no %>
</p>

<p>
  <strong>E transfer number:</strong>
  <%= @participant.e_transfer_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @participant.status %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
