<h1 id="notice" style="color: green"><%= notice %></h1>

<br/>
<h1 class="title">Tick Details:</h1>
<p>Ticket Number: <b><%= @qr_code.data %></b></p>
<p>Ticket Type: <b><%= @ticket.age_group.capitalize %> Ticket</b></p>
<p>Ticket Owner: <b><%= @ticket.participant.full_name %></b></p>
<p>Enter Time: <b><%= @ticket.attendance.entry_time.strftime("%I:%M %p") %></b></p>
<br/><br/>
<%= link_to 'Scan new ticket', basic_qr_code_reader_path %>
