<p id="notice"><%= notice %></p>

<p>
  <strong>Team one:</strong>
  <%= @game.team_one_id.name %>
</p>

<p>
  <strong>Team two:</strong>
  <%= @game.team_two_id.name %>
</p>

<p>
  <strong>Team one score:</strong>
  <%= @game.team_one_score %>
</p>

<p>
  <strong>Team two score:</strong>
  <%= @game.team_two_score %>
</p>

<p>
  <strong>Game week:</strong>
  <%= @game.game_week %>
</p>

<p>
  <strong>Game number:</strong>
  <%= @game.game_number %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
