<!DOCTYPE html>
<html>
<head>
  <title>QrCodeReaderDemo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <style>

  </style>
</head>

<body>

<div class="container">
  <div class="columns">
    <div class="column">
      <img src="https://thedrukcanada.com/img/dc_logo.jpeg" alt="Druk Canada" width="140" height="80">
      <span style="position: relative; bottom: 60px; padding-right: 0px;">
        <% if Current.user %>
          <%= link_to 'Participants', participants_path %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= link_to 'Scan Ticket', basic_qr_code_reader_path %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          Logged in as: <%= Current.user.email %><br/>
          <%= button_to 'Logout', logout_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', sign_in_path %>
        <% end %>
      </span>
    </div>
  </div>

  <% if notice.present? %>
    <div class="notice notification is-success" style="text-align: center; color: #ffffff; font-size: 16px" id="validateNotice">
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="notice notification is-danger" style="text-align: center; color: #ffffff; font-size: 16px" id="validate">
      <%= alert %>
    </div>
  <% end %>

  <%= yield %>
</div>
<script>
    $('#validate').fadeIn(1000);
    setTimeout(function () {
        $('#validate').fadeOut(1000);
    }, 2000);

    $('#validateNotice').fadeIn(1000);
    setTimeout(function () {
        $('#validateNotice').fadeOut(1000);
    }, 2000);
</script>
</body>
</html>
